@media (max-width: 900px) {
  .header {
    width: 100%;

    height: 250px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  /*ハンバーガーメニュー*/
  .header_menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
  }

  .ham_menu_item {
    list-style: none;
    padding-top: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    margin-left: 5px;
    font-family: "Zen Maru Gothic", sans-serif;
  }
  .ham2_menu_item {
    width: 200px;
    list-style: none;
    padding-top: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    margin-left: 5px;
    font-family: "Zen Maru Gothic", sans-serif;
  }

  .top_image_frame {
    background-image: url("/images/phone600.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;

    position: relative;
  }

  .menu_bar {
    width: 80%;
    height: auto;
    display: flex;
    //background:white;
    //background-image: linear-gradient(to right, #C9E265, #4F9DFF);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;

    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto;
    position: absolute;
    top: 450px;
  }

  .menu_bar ul {
    width: 100%;
    height: 200px;
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;
    justify-content: center;
  }

  .menu_tab {
    width: 100%;
    height: 70px;
    color: #ffffff;
    //background:#C9E265;
    border: 3px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: none;
    align-items: center;
    font-weight: 700;
    font-family: "Hiragino Kaku Gothic ProN";
    margin-bottom: 10px;

    font-size: 13px;
  }

  .main1 {
    background-image: url("/images/phone_top2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 850px;

    display: flex;
    flex-direction: column;
  }

  .main_left {
    width: 70%;
    height: 50px;
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 300px;
    font-size: 13px;

    font-family: "Zen Maru Gothic", sans-serif;
  }
  .main_right {
    width: 100%;

    display: flex;
    margin-left: -75px;
    margin-top: 300px;
  }

  .job_page_button {
    width: 220px;
    height: 200px;
    border-radius: 30px;
    border: none 0px;
    font-size: 25px;
    font-family: "Zen Maru Gothic";
    background: #fff;
  }

  .main2 {
    background-image: url("/images/phone_top3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 860px;
    display: flex;
    flex-direction: column;
  }

  .content_main_frame {
    width: 100%;
    height: 2500px;
    background: #ffffff;
    //border: 18px solid rgb(0,0,0,0.3) ;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    overflow: scroll;
  }

  .content_main_title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 15px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: black;
  }
  .hajime_content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .main_message {
    width: 80%;
    height: 1300px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Zen Maru Gothic", sans-serif;
  }
  .main_message h2 {
    margin-bottom: 30px;
  }
  .main_message p {
    margin-bottom: 50px;
  }

  .line_frame {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: "Zen Maru Gothic", sans-serif;
  }

  .line_title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .line {
    margin-top: -18px;
    padding: 40px;
    width: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line h2 {
    padding: 20px 20px;
  }

  .line_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line_paragraph {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
  }

  .people_title {
    width: 100%;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: -60px;
  }

  .people_title h1 {
    font-size: 35px;
    font-family: "Zen Maru Gothic", sans-serif;
  }

  .people_frame_wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    overflow-x: none;
    background: #fff;
    align-items: center;
    font-family: "Zen Maru Gothic", sans-serif;
  }

  .people_frame {
    width: 90%;
    height: auto;
    margin: 20px;
    border: 5px solid #fff;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 50px;
  }

  .people_frame_left {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  }

  .people_frame_right {
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .people_frame_right p {
    line-height: 30px;
    font-size: 13px;
  }

  .people_frame_right h2 {
    font-size: 21px;
    color: black;
  }

  .content_people h3 {
    margin-left: 75px;
    margin-top: 60px;
  }

  .people_frame hr {
    width: 90%;
    height: 0px;
    border: 0.5px solid #ddd;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .staff_frame hr {
    width: 90%;
    height: 0px;
    border: 0.5px solid #ddd;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .people {
    min-width: 870px;
    height: auto;
    padding: 20px;
    background: #ffffff;
    //border: 5px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    overflow: scroll;
  }

  .people_left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .people_right {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .people_right p {
    line-height: 30px;
    font-size: 13px;
  }
  .people_right h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .content_chargeup {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    border: 0px none;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_chargeup_top {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -40px;

    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Zen Maru Gothic", sans-serif;
  }
  .content_chargeup_top h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 30px;
  }

  .content_chargeup_top p {
    font-size: 15px;
  }

  .chargeup_outframe {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 10px 10px 50px 10px;
    position: relative;
  }

  .chargeup_frame {
    width: 100%;
    height: auto;
    padding: 15px;
    background: #ffffff;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Zen Maru Gothic", sans-serif;
  }
  .chargeup_frame h2 {
    padding-left: 20px;
  }

  .chargeup_price {
    position: absolute;
    left: 820px;
    top: 960px;
  }

  .chargeup_image {
    width: 95%;
    align-self: center;
  }

  .chargeup_discription {
    align-self: center;
    margin-top: 0px;
    width: 80%;
    height: auto;
    font-size: 15px;
    line-height: 35px;
  }

  /*他の派遣会社との違い*/

  .content_consul_frame {
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 0px solid #c9e265;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_different_frame {
    font-family: "Zen Maru Gothic", sans-serif;
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 0px solid #c9e265;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_different_title {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .content_different_title h1 {
    //color: black;
    font-size: 40px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .different {
    width: 90%;
    height: auto;
    background: #ffffff;
    border: 0px solid #c9e265;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;

    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .different_top {
    padding-top: 20px;
    padding-left: 30px;
  }

  .different_discription {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    height: auto;
  }

  .different_other {
    width: 100%;
    height: auto;

    background: #ddd;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
  }

  .different_mik {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: #ffffff;

    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
  }

  .different_left {
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 20px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .different_left p {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
  }

  .different_right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*MIKの構成*/

  .content_constitution {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    font-family: "Zen Maru Gothic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_constitution_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -60px;
  }

  .content_constitution_title h1 {
    font-size: 5px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .content_constitution h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    //margin-top:10px;
    margin-bottom: 10px;
  }
  .constitution_suii_frame {
    width: 90%;
    height: auto;
    padding: 20px;
    background: #ffffff;

    margin-bottom: 50px;
    border: 5px solid #0cc0df;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .constitution_graph {
    width: 100%;
    height: auto;
  }

  .constition_suii_right {
    width: 40%;
    height: auto;
  }

  .constition_suii_right p {
    padding-top: 20px;
    font-size: 15px;
  }

  /*流れ*/

  .content_flow {
    width: 100%;
    height: auto;
    background: #ffffff;

    border-radius: 2px;
    font-family: "Zen Maru Gothic", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;
  }

  .flow_title {
    width: 100%;
    height: auto;
    font-size: 22px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -60px;
  }

  .step_frame {
    width: 90%;
    height: auto;
    border: 5px solid #0cc0df;
    border-image: linear-gradient(#ffde59 -70%, #0cc0df 130%);
    border-image-slice: 1;

    padding: 20px;
  }

  .step_frame h1 {
    font-size: 27px;
  }

  .step_content {
    display: flex;
    justify-content: space-around;
  }

  .step_discription {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .step_image {
    margin-top: 20px;
  }

  .flow_down {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*社内公式ラインについて*/
  .Internal_Line_frame {
    width: 100%;
    height: auto;
    background: #ffffff;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: "Zen Maru Gothic", sans-serif;
    margin-bottom: 30px;
  }

  .Internal_Line_title {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-contetn: center;
    align-items: center;
    //padding: 40px 10px 10px 10px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .Line_title_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line_icon {
    width: 60%;
  }

  .Internal_Line_title h1 {
    font-size: 40px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Internal_Line_merit {
    width: 90%;
    height: auto;
    border: 0px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .merit_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .merit_discription {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15px;
    font-size: 14px;
    margin-left: -50px;
  }

  /*社内制度*/
  .system_frame {
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: "Zen Maru Gothic", sans-serif;
  }

  .system_title {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    margin-left: -60px;
  }

  .system_title h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
  }

  .system {
    width: 90%;
    height: auto;
    border: 8px solid #0cc0df;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
  }

  .system h2 {
    font-family: "Hiragino Mincho Pro";
    padding-left: 20px;
    font-size: 28px;
  }

  .system_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .system_discription {
    width: 100%;
    display: flex;
    font-size: 14px;
    padding-top: 10px;
    justify-content: center;
  }

  .system_discription p {
    padding: 10px;
    margin-left: -40px;
  }

  /*SNS*/

  .twitter_frame {
    width: 100%;
    height: auto;
    background: #ffffff;

    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Zen Maru Gothic", sans-serif;
  }

  .twitter {
    width: 100%;
    height: auto;
    padding: 0px 10px 10px 10px;

    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .twitter_title {
    height: auto;
    width: 95%;
    font-size: 21px;

    display: flex;
    align-items: center;
    //margin-left: -30px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -60px;
  }

  .twitter_title h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .twitter_content {
    width: 95%;
    height: auto;
    border: 8px solid #ddd;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //overflow: none;
    margin-left: 0px;
  }

  .twitter_tags p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .twitter_tags h5 {
    padding-left: 20px;
  }

  /*採用情報検索ページ*/

  .content_recruit {
    
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #ddd;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;

    font-family: "Zen Maru Gothic", sans-serif;
  }

  .recruit_title {
    height: 100px;
    width: 90%;
    margin-top: 30px;
    //color:#C9E265;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .recruit_title h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
  }

  .recruit_search_frame {
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 5px solid #c9e265;
    border-radius: 2px;

    margin-top: 20px;
    padding: 10px 10px 20px 10px;
  }

  .search_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
  }

  .search_area {
    margin-bottom: 30px;
  }
  .search_2 {
    width: 100%;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .search_condition {
    margin-bottom: 30px;
  }

  .search_items {
    margin-top: 5px;
    list-style: none;
  }
  .search_items label {
    padding-left: 5px;
  }

  .search_button {
    width: 70%;
    margin-top: 20px;
    height: 50px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    border: 0px none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .recruit_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  .recruit_mid_content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recruit_title_mid {
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    color: #ffffff;

    margin-top: 40px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recruit_mid_items {
    width: 90%;
    height: auto;
    border: 5px solid#C9E265;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recruit_mid_items h3 {
    margin-bottom: 10px;
  }

  .recruit_mid_items hr {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }

  .recruit_mid_items h4 {
    padding-left: 30px;
    margin-top: 10px;
  }

  .recruit_mid_items p {
    margin-top: 10px;

    font-size: 12px;
    align-self: flex-end;
  }

  .search_message_wrapper{
    margin-top:50px;
    width:70%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  /*応募詳細*/
  .content_recruit_detail {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: wrap;
  }

  .recruit_detail_title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .recruit_detail_title h1 {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .detail_content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#FFF;
    padding: 10px;
  }
  .detail_content p {
    padding-left: 10px;
    font-size: 13px;
    line-height: 23px;
  }

  .detail_content h5 {
    line-height: 23px;
    padding-left: 10px;
  }

  .detail_content ul {
    list-style: none;
    padding-left: 0;
  }

  .detail_content_title {
    height: auto;
    background: #ddd;
    width: 100%;

    display: flex;
    align-items: center;

    color: #ffffff;
    padding-left: 10px;
    margin-bottom: 15px;
  }

  .oubo_button_wrapper {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .oubo_button {
    width: 270px;
    height: 55px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    border: 0px none;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*応募フォーム*/

  .content_oubo {
    width: 100%;
    height: auto;
    background: #fff;
    //background-image: linear-gradient(to right, #C9E265, #4F9DFF);
    //border: 18px solid #C9E265;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .oubo_top_title {
    width: 100%;
    height: auto;
    padding: 10px 30px;
    font-size: 12px;
  }

  .oubo_top_bar {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);

    color: #ffffff;
    font-weight: 700;

    display: flex;
  }

  .oubo_form {
    margin-top: 0px;
    width: 95%;
    border: 5px solid #fff;
    padding: 10px 30px;
    background: rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
  }

  .oubo_form h4 {
    font-size: 14px;
    padding-left: 10px;
  }

  .oubo_input_wrapper {
    width: 100%;
  }

  .oubo_input_text {
    width: 70%;
    padding: 15px 10px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px;
  }

  .oubo_input_long {
    width: 90%;
    height: auto;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px 20px;
  }

  .oubo_input_area {
    width: 90%;
    height: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px;
  }

  .shikaku_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search_shikaku {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .shikaku_wrapper ul {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .language_select {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 10px;
  }
  .kakunin_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .oubo_kakunin_button {
    width: 70%;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    border: 0px none;
    border-radius: 10px;
    color: #fff;
  }

  /*入力内容確認ページ*/
  .thanks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 15px;
  }

  .thanks p {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .thanks_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
  }

  .content_confirm {
    width: 100%;
    height: auto;
    background: #fff;
    //background-image: linear-gradient(to right, #C9E265, #4F9DFF);
    //border: 18px solid #C9E265;
    border-radius: 2px;

    display: flex;
    //justify-content:center;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 50px;
  }

  .oubo_confirm_bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    color: #fff;
    margin-top: 20px;
  }

  .content_confirm h4 {
    width: 200px;
  }

  .oubo_item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
  }
  .oubo_data {
    padding-top: 10px;
    padding-left: 20px;
  }

  .oubo_data_wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 60px;
  }

  .fix_button {
    width: 70%;
    height: 55px;
    background: #ddd;
    border: 0px none;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_area {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }

  /*お問い合わせページ*/

  .content_inquiry {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    border-radius: 2px;
    font-family: "Zen Maru Gothic", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .content_contact {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    border-radius: 2px;
    //font-family: "Zen Maru Gothic", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .inquiry_title {
    width: 100%;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .inquiry_title h1 {
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .content_contact {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    border-radius: 2px;
    //font-family: "Zen Maru Gothic", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .contact_title {
    width: 100%;
    height: 120px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    padding-top: 30px;
  }

  .contact_title h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .contact {
    margin-top: 90px;
  }

  .contact_form {
    width: 80%;
    height: auto;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-image:linear-gradient(to right, #0cc0df, #ffde59 180%);
    border-image-slice: 1;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
  }

  .contact_form h2 {
    margin-bottom: 20px;
  }

  .contact_form input {
    width: 100%;
    height: 45px;

    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contact_inputs {
    width: 90%;
    margin-left: -15px;
  }

  .inquiry_form {
    width: 90%;
    height: auto;
    border: 8px solid #ddd;

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    border: 3px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .inquiry_form h2 {
    margin-bottom: 20px;
  }

  .inquiry_form input {
    width: 95%;
    height: 45px;

    margin-top: 10px;
    margin-bottom: 20px;
  }

  .inquiry_input {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .inquiry_textarea {
    width: 100%;
    height: 200px;
    padding: 15px 10px;
    border: 1px solid #ddd;
    margin: 10px;
  }

  .inquiry_form button {
    width: 80%;
    margin-top: 20px;
    height: 50px;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    border: 0px none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-left: 40px;
  }

  /*第２ヘッダー*/
  .second_header {
    width: 100%;
    background-image: linear-gradient(to right, #0cc0df, #ffde59);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*経営理念*/

  .content_rinen {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid rgb(0,0,0,0.1);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .rinen_title {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;

    padding-left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rinen_title h1 {
    //color:#C9E265;
    font-size: 38px;
  }

  .rinen {
    width: 95%;
    height: auto;
    border: 8px solid #0cc0df;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;

    padding: 20px;

    margin-bottom: 30px;
  }
  .rinen h1 {
    font-family: "Hiragino Mincho Pro";
    font-size: 28px;
  }

  .rinen_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rinen_image {
    align-self: center;
    margin-top: 20px;
  }

  .rinen_content_discription {
    width: 100%;
    padding-left: 0px;
    display: flex;
    text-align: justify;
    line-height: 28px;
    margin-top: 10px;
  }

  /*会社資料*/

  .content_panflet {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid rgb(0,0,0,0.1);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .panflet_title {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .panflet_title h1 {
    //color:#C9E265;
    font-size: 38px;
  }

  .panflet {
    width: 90%;
    height: auto;
    border: 8px solid #0cc0df;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;
    padding: 20px;

    margin-bottom: 30px;
  }

  .panflet_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .panflet_content_title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .panflet_image {
    align-self: center;
  }

  .panflet_content_discription {
    width: 100%;
    padding-left: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .download_button {
    height: 55px;
    background: rgba(0, 0, 0, 0.1);

    border: 0px none;
    border-radius: 10px;
    margin-top: 20px;
  }

  /*事業範囲*/

  .content_range {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid #C9E265;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .range_title {
    width: 100%;
    padding-left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .range_title h1 {
    //color:#C9E265;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .range {
    width: 90%;
    height: auto;
    border-image: linear-gradient(to right, #0cc0df -20%, #ffde59 150%);
    border-image-slice: 1;
    padding: 20px;

    margin-bottom: 30px;

    font-family: "Hiragino Mincho Pro";
    line-height: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .range h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;

    font-family: "Hiragino Mincho Pro";
    font-size: 28px;
  }

  .range_discription {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  /*会社概要*/
  .content_gaiyou {
    width: 100%;
    height: auto;
    background: #ffffff;
    //border: 18px solid rgb(0,0,0,0.1);
    border-radius: 2px;
  }

  .gaiyou_title {
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gaiyou_title h1 {
    //color:#C9E265;
    font-size: 40px;
  }

  .gaiyou_table {
    margin: 30px;
    width: 600x;
    border: 0.5px solid;
    border-collapse: collapse;
  }
  .gaiyou_th {
    border: solid 0.5px;
    padding: 15px;
    width: 120px;
  }

  .gaiyou_td {
    border: solid 0.5px;
    padding: 15px;
  }

  /*blog*/
  .blog_frame {
    width: 100%;
    min-height: 100vh;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* @media (min-width:900px){
  .menu_tab{
    width:160px;
    height:40px;
    color:#FFFFFF;
    font-size:13px;
    //background:#C9E265;
    border:3px solid #FFFFFF;
    border-radius:5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-weight:700;
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;}

    .top_image_frame{
      background-image:url("/images/top_3.png");
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center center;
      width:100%;
      height:600px;
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      padding-bottom:20px;
    }

    .menu_bar ul{
      width:100%;
      height:100px;
      display:flex;
      margin-left:6px;
      margin-right:6px;
      flex-wrap:wrap;
    
      justify-content:center;
    }

} */
